# ---------- REQUIRED VARIABLES ----------

# Credentials
DISCORD_TOKEN=your_discord_bot_token_here
GUILD_ID=your_discord_server_id
ADMIN_USER_ID=your_personal_admin_id
SESSION_SECRET=your_session_secret
DISCORD_CLIENT_ID=your_discord_app_client_id
DISCORD_CLIENT_SECRET=your_discord_app_client_secret
GOONBOT_API_KEY=your_api_key

# Dashboard Web Server
PORT=8000
DASHBOARD_BASE_URL=http://localhost:8000

# ---------- OPTIONAL VARIABLES ----------
REDEPLOY_PASSWORD=your_redeploy_password
WEBHOOK_DEP=your_webhook_url
NUKE_PASSWORD=your_nuke_password
